.contenedor {
    max-width: 900px;
    max-height: 510px;
    margin: 0 auto;
}

.parrafo {
    z-index: 2;
    width: 800px;
    margin: 0 auto;
}

.textN {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    text-align: left;
    z-index: 2;
}

.comencemos {
    color: #4080C0;
    font-weight: bolder;
    position: relative;
    margin: -20px auto 0 330px;
    font-size: 26px;
}

.ciud3 {
    position: relative;
    margin-top: 20px;
    right: 35px;
}

.ciud3:hover {
    position: relative;
    top: -50px;
    left: -150px;
    transform: scale(1.4);
    margin: 0 auto;
    z-index: 99;
}

.Dwn {
    display: inline-flex;
    width: 600px;
    color: #808080;
    font-style: italic;
}

.segModText {
    position: relative;
    width: 400px;
    margin: 8px auto 0;
}

/* .fndA {
    position: absolute;
    background-color: #4080C0;
    color: white;
    padding: 0 0 10px 50px;
    left: -75.6px;
    width: 400px;
    font-size: 18px;
} */

.textoAz {
    position: relative;
    /* top: 100px; */
    font-size: 20px !important;
    color: #4080C0;
    font-family: 'Gotham';
    margin: 0 auto;
    /* left: -35px; */
}