.contentFinish {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.domo {
    position: relative;
    width: 105%;
    left: -20px;
}