.contenedor {
    max-width: 900px;
    max-height: 510px;
    margin: 0 auto;
}

.textN {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    text-align: left;
    z-index: 2;
}

.comencemos {
    color: #4080C0;
    font-weight: bolder;
    position: relative;
    margin: -20px auto 0 330px;
    font-size: 26px;
    top: 15px;
}

.leftText {
    left: 35px;
}

.ciud {
    margin-left: -75px;
    border-radius: 159% 110% 150% 60%;
}

.ciud:hover {
    position: relative;
    top: -50px;
    left: 50px;
    transform: scale(1.4);
    margin: 0 auto;
    z-index: 99;
    border-radius: 159% 110% 150% 60%;
}


.propFilevideo {
    position: relative;
    left: 270px;
    top: 170px;
}

.Dwn {
    display: inline-flex;
    width: 600px;
    color: #808080;
    font-style: italic;
}