body {
  /* position: fixed;
  max-width: 900px;
  max-height: 720px;
  justify-content: center;
  align-items: center; */
  margin: 0;/* auto;*/
  padding: 0;
  font-family: 'Gotham Book';
}
/* 
#root {
  position: fixed;
  max-width: 900px;
  max-height: 720px;
  justify-content: center;
  align-items: center;
} */

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/Fonts/GOTHAM-BOLD.TTF"),
      url("./assets/Fonts/GOTHAM BOOK.TTF"),
      url("./assets/Fonts/GOTHAM-MEDIUM.TTF"),
      url("./assets/Fonts/Gotham-Light.otf");
}

p {
  font-family: "Gotham";
}

.text {
  font-family: "Gotham";
}